<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{pathFor 'prayersList'}}">Prayer List</a>
      <div class="nav-collapse collapse">
			{{#if currentUser}}
				 <ul class="nav">
          <li><a href="{{pathFor 'prayerSubmit'}}">New Request</a></li>
        </ul>
				{{/if}}
        <ul class="nav pull-right">
					{{> user_info}}
        </ul>
      </div>
    </div>
  </header>
</template>
