<template name="user_loggedin">
	{{#if loggingIn}}
		<li><a>Logging in...</a></li>
	{{else}}
		<li class="dropdown">
            <!-- the hidden-xs class below hides the item when the menu collapses for small devices -->
            <img class="img-rounded hidden-xs" style="height: 32px; margin-top: 4px;" src="{{currentUser.profile.picture}}" />
			<ul class="nav navbar-nav" data-toggle="dropdown">
                    <li>
                        <a href="#">{{> user_name}}<span class="caret"></span></a>
                    </li>
                </ul>
			<ul class="dropdown-menu">
				<li><a id="logout">Logout</a></li>
			</ul>
		</li>
	{{/if}}
</template>