<template name="prayerEdit">
  {{#with post}}
    <form class="main">
      <div class="control-group">
          <label class="control-label" for="title">Prayer Request</label>
          <div class="controls">
              <textarea rows="4" cols="50" name="request" placeholder="Your request" style="width:50%;">{{request}}</textarea>
          </div>
      </div>

      <div class="control-group">
          <div class="controls">
              <input type="submit" value="Submit" class="btn btn-primary submit"/>
          </div>
      </div>
      <hr/>
      <div class="control-group">
          <div class="controls">
              <a class="btn btn-danger delete" href="#">Delete Request</a>
          </div>
      </div>
    </form>
  {{/with}}
</template>