<template name="prayerSubmit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="message">New Request</label>
        <div class="controls">
            <textarea name="request" type="text" value="" style="width:50%;" placeholder="Your request here."></textarea>
        </div>
    </div> 
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>