/*This stylesheet is from the Discover Meteor book and I will more than likely not use it all*/

.grid-block, .main, .prayer, .encouragements li, .encouragement-form {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
body {
    background: #eee;
    color: #666666;
}

#main {
  position: relative;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar { margin-bottom: 10px }
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}
#spinner { height: 300px }
.prayer {
*zoom: 1;
  position: relative;
  opacity: 1; 
}
.prayer:before, .prayer:after {
    content: "";
    display: table;
}
.prayer:after { clear: both }
.prayer.invisible { opacity: 0 }
.prayer .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}
.prayer .prayer-content { float: left }
.prayer .prayer-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}
.prayer .prayer-content h3 a {
    display: inline-block;
    margin-right: 5px;
}
.prayer .prayer-content h3 div {
    font-weight: normal;
    font-size: 14px;
    /*display: inline-block;*/
    color: #aaaaaa;
}
.prayer .prayer-content p { margin: 0 }
.prayer .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}
.encouragements {
    list-style-type: none;
    margin: 0;
}
.encouragements li h4 {
    font-size: 12px;
    margin: 0;
}
.encouragements li h4 .author {
    font-size: 12px;
    font-weight: bold;
}
.encouragements li h4 .date {
    font-size: 12px;
    font-weight: normal;
}
.encouragements li .content {
    font-size: 13px;
	margin: 0;
}
.encouragements li #editLink {
    font-size: 12px;
    font-weight: bold;
}
/*.encouragements li h4 a { font-size: 12px }
.encouragements li p:last-child { margin-bottom: 0 }*/
.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

.container #main .main .control-label {
	font-weight: bold;
	font-size: 16px;
}	
